@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
    .glass-panel {
        @apply backdrop-blur-[12px] border border-white/10;
        background: rgba(28, 24, 51, 0.6);
    }
    .text-glow {
        text-shadow: 0 0 10px rgba(55, 19, 236, 0.5);
    }
    .box-glow {
        box-shadow: 0 0 40px -10px rgba(55, 19, 236, 0.3);
    }
}
